{
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "description": "The Iznik API powers both the Freegle user-facing site and ModTools (moderation tools for volunteers).",
    "title": "Iznik API.",
    "termsOfService": "https://www.ilovefreegle.org/terms",
    "contact": {
      "name": "Freegle Geeks",
      "url": "https://www.ilovefreegle.org/help",
      "email": "geeks@ilovefreegle.org"
    },
    "license": {
      "name": "GPL v2",
      "url": "https://www.gnu.org/licenses/old-licenses/gpl-2.0.en.html"
    },
    "version": "2.0"
  },
  "host": "api.ilovefreegle.org",
  "basePath": "/api",
  "paths": {
    "/abtest": {
      "get": {
        "description": "Returns the best-performing variant for a test UID using epsilon-greedy bandit",
        "tags": [
          "abtest"
        ],
        "summary": "Get A/B test variant",
        "operationId": "getABTest",
        "parameters": [
          {
            "type": "string",
            "description": "Test UID",
            "name": "uid",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/abTestResponse"
          }
        }
      },
      "post": {
        "description": "Records a shown or action event for a variant",
        "tags": [
          "abtest"
        ],
        "summary": "Track A/B test event",
        "operationId": "postABTest",
        "parameters": [
          {
            "x-go-name": "Body",
            "description": "A/B test event",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PostABTestRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/address": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns all addresses for the authenticated user",
        "tags": [
          "address"
        ],
        "summary": "List addresses for user",
        "operationId": "listAddresses",
        "responses": {
          "200": {
            "$ref": "#/responses/addressesResponse"
          }
        }
      },
      "put": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Creates a new address for the authenticated user. Registered as PUT (the\nmethod-aware drift guard caught this documented as POST, which the server\nnever accepted).",
        "tags": [
          "address"
        ],
        "summary": "Create a new address",
        "operationId": "createAddress",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "patch": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Updates an address for the authenticated user",
        "tags": [
          "address"
        ],
        "summary": "Update an existing address",
        "operationId": "updateAddress",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/address/{id}": {
      "get": {
        "description": "Returns a single address by ID",
        "tags": [
          "address"
        ],
        "summary": "Get address by ID",
        "operationId": "getAddress",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Address ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/addressResponse"
          },
          "404": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "delete": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Deletes an address by ID",
        "tags": [
          "address"
        ],
        "summary": "Delete an address",
        "operationId": "deleteAddress",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Address ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "404": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/admin/ai-images/count": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns the count of AI images currently in the review queue.",
        "tags": [
          "ai-images"
        ],
        "summary": "Count AI images needing regeneration",
        "operationId": "getAIImagesCount",
        "responses": {
          "200": {
            "$ref": "#/responses/aiImagesCountResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          },
          "403": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/admin/ai-images/review": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns AI images that have been flagged by microvolunteers and need moderator review.",
        "tags": [
          "ai-images"
        ],
        "summary": "List AI images needing review",
        "operationId": "listAIImagesReview",
        "responses": {
          "200": {
            "$ref": "#/responses/aiImagesReviewResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          },
          "403": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/admin/ai-images/{id}/accept": {
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Replaces the current AI image with the pending regenerated image.",
        "tags": [
          "ai-images"
        ],
        "summary": "Accept a regenerated AI image",
        "operationId": "acceptAIImage",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "AI image ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          },
          "403": {
            "$ref": "#/responses/errorResponse"
          },
          "404": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/admin/ai-images/{id}/keep": {
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Clears the pending review state without changing the image. Use when the current image\nis acceptable or when every regeneration attempt is worse than the original.",
        "tags": [
          "ai-images"
        ],
        "summary": "Keep the current AI image",
        "operationId": "keepAIImage",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "AI image ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          },
          "403": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/admin/ai-images/{id}/regenerate": {
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Generates a new AI image for the given item, optionally using a description override.",
        "tags": [
          "ai-images"
        ],
        "summary": "Regenerate an AI image",
        "operationId": "regenerateAIImage",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "AI image ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/aiImageRegenerateResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          },
          "403": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/admin/ai-images/{id}/suppress": {
      "post": {
        "description": "Suppresses a specific AI-generated image from the review queue.",
        "tags": [
          "aiimage"
        ],
        "summary": "Suppress AI image",
        "operationId": "suppressAIImage",
        "parameters": [
          {
            "type": "integer",
            "description": "AI image ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          },
          "403": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/amp/chat/{id}": {
      "get": {
        "description": "Returns the last 5 chat messages for the earlier conversation section in AMP emails",
        "tags": [
          "amp"
        ],
        "summary": "Get chat messages for AMP email",
        "operationId": "getAMPChatMessages",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Chat ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Read token (HMAC)",
            "name": "rt",
            "in": "query",
            "required": true
          },
          {
            "type": "integer",
            "description": "User ID",
            "name": "uid",
            "in": "query",
            "required": true
          },
          {
            "type": "integer",
            "description": "Token expiry timestamp",
            "name": "exp",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ampChatResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "403": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/amp/chat/{id}/reply": {
      "post": {
        "description": "Submits an inline reply from AMP email using a one-time write token",
        "tags": [
          "amp"
        ],
        "summary": "Post reply from AMP email",
        "operationId": "postAMPChatReply",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Chat ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Write token (one-time nonce)",
            "name": "wt",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ampReplyResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "403": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/amp/digest/reply": {
      "post": {
        "description": "Handles AMP email digest reply with all parameters (mid, rt, uid, exp, tid, message) from form body.",
        "tags": [
          "amp"
        ],
        "summary": "Reply to digest (shared AMP endpoint)",
        "operationId": "ampDigestReplyShared",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/amp/digest/{id}/reply": {
      "post": {
        "description": "Handles AMP email digest reply. Reads rt, uid, exp, tid query params and message body.",
        "tags": [
          "amp"
        ],
        "summary": "Reply to digest by ID (AMP)",
        "operationId": "ampDigestReply",
        "parameters": [
          {
            "type": "integer",
            "description": "Digest ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/authority": {
      "get": {
        "description": "Searches authorities by name",
        "tags": [
          "authority"
        ],
        "summary": "Search authorities",
        "operationId": "searchAuthorities",
        "parameters": [
          {
            "type": "string",
            "description": "Search term",
            "name": "search",
            "in": "query",
            "required": true
          },
          {
            "type": "integer",
            "description": "Maximum results (default 10)",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/authoritySearchResponse"
          }
        }
      }
    },
    "/authority/{id}": {
      "get": {
        "description": "Returns a single authority by ID with polygon, centre, and overlapping groups",
        "tags": [
          "authority"
        ],
        "summary": "Get authority by ID",
        "operationId": "getAuthority",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Authority ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/authorityResponse"
          },
          "404": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/authority/{id}/message": {
      "get": {
        "description": "Returns messages for a specific authority",
        "tags": [
          "authority"
        ],
        "summary": "Get messages for authority",
        "operationId": "getAuthorityMessages",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Authority ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/messagesResponse"
          }
        }
      }
    },
    "/avatar/{name}": {
      "get": {
        "description": "Returns the avatar image for the given name.",
        "tags": [
          "user"
        ],
        "summary": "Get user avatar",
        "operationId": "getAvatar",
        "parameters": [
          {
            "type": "string",
            "description": "Avatar name",
            "name": "name",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "404": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/bulkoffer/update/{token}": {
      "get": {
        "description": "External/unauthenticated endpoint for owners to view and update bulk item availability.",
        "tags": [
          "bulkoffer"
        ],
        "summary": "Get bulk offer update page (external)",
        "operationId": "getBulkOfferUpdate",
        "parameters": [
          {
            "type": "string",
            "description": "Edit token",
            "name": "token",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          }
        }
      },
      "post": {
        "description": "External/unauthenticated endpoint for owners to toggle item availability.",
        "tags": [
          "bulkoffer"
        ],
        "summary": "Update bulk offer items (external)",
        "operationId": "postBulkOfferUpdate",
        "parameters": [
          {
            "type": "string",
            "description": "Edit token",
            "name": "token",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          }
        }
      }
    },
    "/changes": {
      "get": {
        "description": "Returns message changes (deleted, edited, promised, reneged, outcomes, approved/reposted),\nuser changes and ratings since a given time. Requires partner key authentication.\n\nEach user change carries a type: Modified means the profile has changed and should be\nre-read; Deleted means the user has been forgotten or purged and their copy should be\nremoved, for which the id is all that is supplied.",
        "tags": [
          "changes"
        ],
        "summary": "Get changes since timestamp",
        "operationId": "getChanges",
        "parameters": [
          {
            "type": "string",
            "description": "ISO8601 or MySQL datetime timestamp (defaults to 1 hour ago)",
            "name": "since",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Partner API key",
            "name": "partner",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/changesResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "403": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/charities": {
      "post": {
        "description": "Creates or updates a charity record.",
        "tags": [
          "charities"
        ],
        "summary": "Create or update a charity",
        "operationId": "createCharity",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/chat": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns all chats for the authenticated user",
        "tags": [
          "chat"
        ],
        "summary": "List chats for user",
        "operationId": "listChats",
        "responses": {
          "200": {
            "$ref": "#/responses/chatsResponse"
          }
        }
      }
    },
    "/chat/lovejunk": {
      "post": {
        "description": "Creates a new chat message from a LoveJunk user via partner key",
        "tags": [
          "chat"
        ],
        "summary": "Create LoveJunk chat message",
        "operationId": "createChatMessageLoveJunk",
        "responses": {
          "200": {
            "$ref": "#/responses/chatMessageCreatedResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/chat/rooms": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns chat rooms wrapped in {chatrooms: [...]} for ModTools compatibility",
        "tags": [
          "chat"
        ],
        "summary": "List chat rooms for moderator",
        "operationId": "listChatRoomsMT",
        "responses": {
          "200": {
            "$ref": "#/responses/chatRoomsMTResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "put": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Creates a new User2User chat room with another user, or returns existing one",
        "tags": [
          "chat"
        ],
        "summary": "Open or create a chat room",
        "operationId": "createChatRoom",
        "parameters": [
          {
            "x-go-name": "Body",
            "description": "User to chat with",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutChatRoomRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/chatRoomCreatedResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/chat/{id}": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns a single chat by ID",
        "tags": [
          "chat"
        ],
        "summary": "Get chat by ID",
        "operationId": "getChat",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Chat ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/chatResponse"
          },
          "404": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/chat/{id}/message": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns all messages for a specific chat room",
        "tags": [
          "chat"
        ],
        "summary": "Get chat messages",
        "operationId": "getChatMessages",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Chat Room ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/chatMessagesResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          },
          "404": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Creates a new message in a chat room",
        "tags": [
          "chat"
        ],
        "summary": "Create chat message",
        "operationId": "createChatMessage",
        "parameters": [
          {
            "x-go-name": "Body",
            "description": "Chat message to create",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChatMessage"
            }
          },
          {
            "type": "integer",
            "format": "int64",
            "description": "Chat Room ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/chatMessageCreatedResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/chat/{id}/message/{mid}/prompt": {
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Records the member's answer to a type='Prompt' chat message and applies it to\nthe posts the prompt covers. Only the member the prompt was sent to may\nanswer, and only once.",
        "tags": [
          "chat"
        ],
        "summary": "Answer a Freegle chat prompt",
        "operationId": "postChatPromptAnswer",
        "parameters": [
          {
            "type": "integer",
            "description": "Chat ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "description": "Chat message ID",
            "name": "mid",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/chatmessages": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns review queue messages or messages from a specific chat room",
        "tags": [
          "chat"
        ],
        "summary": "Get chat messages for review",
        "operationId": "getReviewChatMessages",
        "responses": {
          "200": {
            "$ref": "#/responses/chatMessagesResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Approve, reject, hold, release, or redact a chat message",
        "tags": [
          "chat"
        ],
        "summary": "Moderate chat message",
        "operationId": "postChatMessageModeration",
        "parameters": [
          {
            "x-go-name": "Body",
            "description": "Moderation action",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModerationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "delete": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Soft-deletes a chat message owned by the logged-in user",
        "tags": [
          "chat"
        ],
        "summary": "Delete chat message",
        "operationId": "deleteChatMessage",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Chat Message ID",
            "name": "id",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "patch": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Updates a chat message (e.g. replyexpected flag)",
        "tags": [
          "chat"
        ],
        "summary": "Update chat message",
        "operationId": "patchChatMessage",
        "parameters": [
          {
            "x-go-name": "Body",
            "description": "Fields to update",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PatchChatMessageRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/chatrooms": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns unseen count, single room, or list of chat rooms for moderator view",
        "tags": [
          "chat"
        ],
        "summary": "Get chatrooms for moderator",
        "operationId": "getChatRoomsMT",
        "parameters": [
          {
            "type": "boolean",
            "description": "Return only the unseen count",
            "name": "count",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Return a single chat room by id",
            "name": "id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Comma-separated chat types to include",
            "name": "chattypes",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter chats by search term",
            "name": "search",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Only chats with activity since this time",
            "name": "since",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/chatRoomsMTResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Handles roster updates, nudge messages, and typing indicators for chat rooms",
        "tags": [
          "chat"
        ],
        "summary": "Chatroom actions",
        "operationId": "postChatRoom",
        "parameters": [
          {
            "x-go-name": "Body",
            "description": "Action request",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChatRoomPostRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/clientlog": {
      "post": {
        "description": "Accepts client-side log entries for distributed tracing",
        "tags": [
          "logging"
        ],
        "summary": "Receive client logs",
        "operationId": "receiveClientLogs",
        "parameters": [
          {
            "x-go-name": "Body",
            "description": "Client log entries",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClientLogRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/noContentResponse"
          }
        }
      }
    },
    "/comment": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns comments for moderated groups with pagination. Pass id for a single comment.",
        "tags": [
          "comment"
        ],
        "summary": "List or get comments",
        "operationId": "getComments",
        "parameters": [
          {
            "type": "integer",
            "description": "Comment ID for single fetch",
            "name": "id",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Filter by group ID",
            "name": "groupid",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/commentsResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Moderators can add comments to users in their groups",
        "tags": [
          "comment"
        ],
        "summary": "Create a comment on a user",
        "operationId": "createComment",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "patch": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Moderators can edit comments on users in their groups",
        "tags": [
          "comment"
        ],
        "summary": "Edit a comment",
        "operationId": "editComment",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/comment/{id}": {
      "delete": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Moderators can delete comments on users in their groups",
        "tags": [
          "comment"
        ],
        "summary": "Delete a comment",
        "operationId": "deleteComment",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Comment ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/communityevent": {
      "get": {
        "description": "Returns all community events",
        "tags": [
          "communityevent"
        ],
        "summary": "List community events",
        "operationId": "listCommunityEvents",
        "responses": {
          "200": {
            "$ref": "#/responses/communityEventsResponse"
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Creates a new community event",
        "tags": [
          "communityevent"
        ],
        "summary": "Create a community event",
        "operationId": "createCommunityEvent",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "patch": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Updates an existing community event",
        "tags": [
          "communityevent"
        ],
        "summary": "Update a community event",
        "operationId": "updateCommunityEvent",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/communityevent/{id}": {
      "get": {
        "description": "Returns a single community event by ID",
        "tags": [
          "communityevent"
        ],
        "summary": "Get community event by ID",
        "operationId": "getCommunityEvent",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Community Event ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/communityEventResponse"
          },
          "404": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "delete": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Deletes a community event by ID",
        "tags": [
          "communityevent"
        ],
        "summary": "Delete a community event",
        "operationId": "deleteCommunityEvent",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Community Event ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/config/admin": {
      "patch": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Updates admin configuration values (Support/Admin only)",
        "tags": [
          "config"
        ],
        "summary": "Update admin config keys",
        "operationId": "patchAdminConfig",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          },
          "403": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/config/{key}": {
      "get": {
        "description": "Returns configuration by key",
        "tags": [
          "config"
        ],
        "summary": "Get configuration",
        "operationId": "getConfig",
        "parameters": [
          {
            "type": "string",
            "description": "Configuration key",
            "name": "key",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/configResponse"
          }
        }
      }
    },
    "/dashboard": {
      "get": {
        "description": "Returns dashboard components for moderator/user dashboards",
        "tags": [
          "dashboard"
        ],
        "summary": "Get dashboard data",
        "operationId": "getDashboard",
        "parameters": [
          {
            "type": "string",
            "description": "Comma-separated component names",
            "name": "components",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Group ID",
            "name": "group",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/genericResponse"
          }
        }
      }
    },
    "/discourse_sso": {
      "get": {
        "description": "Handles Discourse single sign-on. Reads sso and sig query params.",
        "tags": [
          "sso"
        ],
        "summary": "Discourse SSO login",
        "operationId": "discourseSSO",
        "parameters": [
          {
            "type": "string",
            "description": "SSO payload (base64-encoded)",
            "name": "sso",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "HMAC-SHA256 signature",
            "name": "sig",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "302": {
            "$ref": "#/responses/successResponse"
          }
        }
      }
    },
    "/domains": {
      "get": {
        "description": "Returns domain information",
        "tags": [
          "domain"
        ],
        "summary": "Get domains",
        "operationId": "getDomains",
        "responses": {
          "200": {
            "$ref": "#/responses/genericResponse"
          }
        }
      }
    },
    "/donateipn": {
      "post": {
        "description": "Receives PayPal Instant Payment Notification events.",
        "tags": [
          "donations"
        ],
        "summary": "Handle PayPal IPN webhook",
        "operationId": "payPalIPN",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/donations": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns donation target and raised amounts for the current month",
        "tags": [
          "donations"
        ],
        "summary": "Get donations",
        "operationId": "getDonations",
        "parameters": [
          {
            "type": "integer",
            "description": "Group ID to filter donations",
            "name": "groupid",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/genericResponse"
          }
        }
      },
      "put": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Records an external bank transfer donation",
        "tags": [
          "donations"
        ],
        "summary": "Record external donation",
        "operationId": "addDonation",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/donations/bulk": {
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Imports a batch of donation records. Requires admin authentication.",
        "tags": [
          "donations"
        ],
        "summary": "Bulk upload donations",
        "operationId": "bulkUploadDonations",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          },
          "403": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/drivedistance": {
      "post": {
        "description": "Returns road drive minutes and miles from the logged-in member's approximate\nlocation to up to 100 target points, in one batched call, computed by the\nrouting server's reach engine. Fails soft: targets the engine cannot answer\ncome back with null minutes and the caller keeps showing crow-flies distance.\nRequires authentication.",
        "tags": [
          "drivedistance"
        ],
        "summary": "Road drive time and distance to a batch of points",
        "operationId": "postDriveDistance",
        "responses": {
          "200": {
            "$ref": "#/responses/genericResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/e/d/i/{id}": {
      "get": {
        "description": "Handles image loads for scroll depth tracking and redirects to original image",
        "tags": [
          "delivery"
        ],
        "summary": "Delivery image",
        "operationId": "deliveryImage",
        "parameters": [
          {
            "type": "string",
            "description": "Tracking ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Base64 encoded image URL",
            "name": "url",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "Position",
            "name": "p",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect"
          }
        }
      }
    },
    "/e/d/i/{ref}/{type}/{idenc}/{preset}/{pos}": {
      "get": {
        "description": "Returns redirect to original image for email scroll depth tracking (compact form).",
        "tags": [
          "delivery"
        ],
        "summary": "Delivery image (compact)",
        "operationId": "deliveryImageCompact",
        "parameters": [
          {
            "type": "string",
            "name": "ref",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "type",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "idenc",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "preset",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "pos",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "302": {
            "$ref": "#/responses/successResponse"
          }
        }
      }
    },
    "/e/d/p/{id}": {
      "get": {
        "description": "Returns 1x1 transparent GIF for email open tracking",
        "tags": [
          "delivery"
        ],
        "summary": "Delivery pixel",
        "operationId": "deliveryPixel",
        "parameters": [
          {
            "type": "string",
            "description": "Tracking ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/fileResponse"
          }
        }
      }
    },
    "/e/d/r/{id}": {
      "get": {
        "description": "Handles link clicks from emails and redirects to destination URL",
        "tags": [
          "delivery"
        ],
        "summary": "Delivery redirect",
        "operationId": "deliveryRedirect",
        "parameters": [
          {
            "type": "string",
            "description": "Tracking ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Base64 encoded destination URL",
            "name": "url",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect"
          }
        }
      }
    },
    "/e/d/r/{ref}/{type}/{idenc}/{pos}": {
      "get": {
        "description": "Handles link clicks and button actions in emails (compact form).",
        "tags": [
          "delivery"
        ],
        "summary": "Delivery redirect (compact)",
        "operationId": "deliveryRedirectCompact",
        "parameters": [
          {
            "type": "string",
            "name": "ref",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "type",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "idenc",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "pos",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "302": {
            "$ref": "#/responses/successResponse"
          }
        }
      }
    },
    "/electricals/stats": {
      "get": {
        "description": "Returns the most recent electricals statistics payload. Answers 404 rather\nthan an empty object when nothing has been generated yet, so a page can tell\n\"not yet\" from \"nothing\".",
        "tags": [
          "electricals"
        ],
        "summary": "Latest electricals statistics",
        "operationId": "getElectricalsStats",
        "responses": {
          "200": {
            "$ref": "#/responses/genericResponse"
          },
          "404": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/export": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns the GDPR data export for the authenticated user",
        "tags": [
          "export"
        ],
        "summary": "Get GDPR data export",
        "operationId": "getExport",
        "responses": {
          "200": {
            "$ref": "#/responses/genericResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Initiates a GDPR data export for the authenticated user",
        "tags": [
          "export"
        ],
        "summary": "Request GDPR data export",
        "operationId": "postExport",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/giftaid": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns user's Gift Aid declaration. With all=true returns admin review list.",
        "tags": [
          "donations"
        ],
        "summary": "Get Gift Aid declaration",
        "operationId": "getGiftAid",
        "responses": {
          "200": {
            "$ref": "#/responses/giftAidResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Creates or updates the user's Gift Aid declaration",
        "tags": [
          "donations"
        ],
        "summary": "Set Gift Aid declaration",
        "operationId": "setGiftAid",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "delete": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Soft-deletes the user's Gift Aid declaration",
        "tags": [
          "donations"
        ],
        "summary": "Delete Gift Aid declaration",
        "operationId": "deleteGiftAid",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "patch": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Admin edits a Gift Aid record",
        "tags": [
          "donations"
        ],
        "summary": "Edit Gift Aid declaration (admin)",
        "operationId": "editGiftAid",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          },
          "403": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/helper": {
      "post": {
        "description": "Creates a new helper record or initiates helper workflow.",
        "tags": [
          "helper"
        ],
        "summary": "Create a helper request",
        "operationId": "createHelper",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/helper/escalated": {
      "get": {
        "description": "Returns helper requests that have been escalated.",
        "tags": [
          "helper"
        ],
        "summary": "Get escalated helper requests",
        "operationId": "getEscalatedHelpers",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          }
        }
      }
    },
    "/helper/{msgid}": {
      "get": {
        "description": "Returns the helper record for a given message.",
        "tags": [
          "helper"
        ],
        "summary": "Get helper by message ID",
        "operationId": "getHelper",
        "parameters": [
          {
            "type": "integer",
            "description": "Message ID",
            "name": "msgid",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          }
        }
      }
    },
    "/housekeeper/cronjobs": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns the status of all tracked cron jobs.",
        "tags": [
          "housekeeper"
        ],
        "summary": "List cron job statuses",
        "operationId": "listHousekeeperCronJobs",
        "responses": {
          "200": {
            "$ref": "#/responses/genericResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          },
          "403": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/housekeeper/notify": {
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Receives housekeeping task results from the Chrome extension and queues a background task for Laravel.",
        "tags": [
          "housekeeper"
        ],
        "summary": "Submit a housekeeper task result",
        "operationId": "notifyHousekeeper",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          },
          "403": {
            "$ref": "#/responses/errorResponse"
          },
          "500": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/housekeeper/tasks": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns all housekeeper tasks with their last run status and an overdue flag.",
        "tags": [
          "housekeeper"
        ],
        "summary": "List housekeeper tasks",
        "operationId": "listHousekeeperTasks",
        "responses": {
          "200": {
            "$ref": "#/responses/housekeeperTasksResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          },
          "403": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/housekeeper/tasks/{key}/complete": {
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Records the completion of a housekeeper task by key.",
        "tags": [
          "housekeeper"
        ],
        "summary": "Mark a housekeeper task complete",
        "operationId": "completeHousekeeperTask",
        "parameters": [
          {
            "type": "string",
            "description": "Task key",
            "name": "key",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          },
          "403": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/illustration": {
      "get": {
        "description": "Returns a cached AI-generated illustration for an item name. Returns ret=3 if not cached.",
        "tags": [
          "misc"
        ],
        "summary": "Get AI illustration for item",
        "operationId": "getIllustration",
        "parameters": [
          {
            "type": "string",
            "description": "Item name",
            "name": "item",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/illustrationResponse"
          }
        }
      }
    },
    "/image": {
      "get": {
        "description": "Serves legacy V1 image URLs (img_N.jpg and friends) still embedded in old\nemails and external pages. No auth: these are public image links. Redirects\nto the delivery URL, or to a default image when the ID is unknown.",
        "tags": [
          "image"
        ],
        "summary": "Redirect to an image delivery URL",
        "operationId": "getImage",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Image ID",
            "name": "id",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Requested width in pixels",
            "name": "w",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Requested height in pixels",
            "name": "h",
            "in": "query"
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to the image delivery URL"
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Registers an externally-uploaded image (via Tus) or rotates an existing image",
        "tags": [
          "image"
        ],
        "summary": "Create or update image attachment",
        "operationId": "postImage",
        "parameters": [
          {
            "x-go-name": "Body",
            "description": "Image request",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PostRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/genericResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/isochrone/message": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns messages within the user's isochrone areas",
        "tags": [
          "isochrone"
        ],
        "summary": "Get messages for isochrone",
        "operationId": "getIsochroneMessages",
        "responses": {
          "200": {
            "$ref": "#/responses/messagesResponse"
          }
        }
      }
    },
    "/item/impact": {
      "get": {
        "description": "Estimates weight, CO2e saved and financial benefit of reuse for qty units of\na free-text item name. Public, read-only - never writes to the items catalog.\nLookup order: (1) exact case-insensitive match against the items catalog with\na known weight, (2) fuzzy word-overlap match (\u003e10%) against the standard\nweights reference table, (3) popularity-weighted average item weight.",
        "tags": [
          "item"
        ],
        "summary": "Estimate reuse impact for an item name",
        "operationId": "getItemImpact",
        "parameters": [
          {
            "type": "string",
            "description": "Free-text item name",
            "name": "name",
            "in": "query",
            "required": true
          },
          {
            "type": "integer",
            "description": "Quantity (default 1)",
            "name": "qty",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/job": {
      "get": {
        "description": "Returns all jobs",
        "tags": [
          "job"
        ],
        "summary": "List jobs",
        "operationId": "listJobs",
        "parameters": [
          {
            "type": "number",
            "description": "Latitude (required - without lat+lng an empty array is returned)",
            "name": "lat",
            "in": "query"
          },
          {
            "type": "number",
            "description": "Longitude (required)",
            "name": "lng",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Job category filter",
            "name": "category",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/jobsResponse"
          }
        }
      },
      "post": {
        "description": "Records when a user clicks on a job listing for analytics",
        "tags": [
          "job"
        ],
        "summary": "Record a job click",
        "operationId": "recordJobClick",
        "parameters": [
          {
            "type": "integer",
            "description": "Job ID",
            "name": "id",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "Clicked job link",
            "name": "link",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Ad placement identifier",
            "name": "placement",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Click source",
            "name": "source",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Page the click came from",
            "name": "page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/job/{id}": {
      "get": {
        "description": "Returns a single job by ID",
        "tags": [
          "job"
        ],
        "summary": "Get job by ID",
        "operationId": "getJob",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Job ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/jobResponse"
          },
          "404": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/latestmessage": {
      "get": {
        "description": "Returns the timestamp of the latest message",
        "tags": [
          "misc"
        ],
        "summary": "Get latest message timestamp",
        "operationId": "getLatestMessage",
        "responses": {
          "200": {
            "$ref": "#/responses/latestMessageResponse"
          }
        }
      }
    },
    "/location/latlng": {
      "get": {
        "description": "Returns location info for given coordinates",
        "tags": [
          "location"
        ],
        "summary": "Get location by latitude/longitude",
        "operationId": "getLocationByLatLng",
        "parameters": [
          {
            "type": "number",
            "description": "Latitude",
            "name": "lat",
            "in": "query",
            "required": true
          },
          {
            "type": "number",
            "description": "Longitude",
            "name": "lng",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/locationResponse"
          }
        }
      }
    },
    "/location/resolve": {
      "get": {
        "description": "Resolves a location by name string. Reads name (string, required) query param.",
        "tags": [
          "location"
        ],
        "summary": "Resolve location by name",
        "operationId": "resolveLocation",
        "parameters": [
          {
            "type": "string",
            "description": "Location name to resolve",
            "name": "name",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          }
        }
      }
    },
    "/location/typeahead": {
      "get": {
        "description": "Returns location suggestions for typeahead",
        "tags": [
          "location"
        ],
        "summary": "Location typeahead search",
        "operationId": "locationTypeahead",
        "parameters": [
          {
            "type": "string",
            "description": "Search term",
            "name": "q",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/locationsResponse"
          }
        }
      }
    },
    "/location/{id}": {
      "get": {
        "description": "Returns a single location by ID",
        "tags": [
          "location"
        ],
        "summary": "Get location by ID",
        "operationId": "getLocation",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Location ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "boolean",
            "description": "Include nearby groups for the location",
            "name": "groupsnear",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/locationResponse"
          },
          "404": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/location/{id}/addresses": {
      "get": {
        "description": "Returns addresses for a specific location",
        "tags": [
          "location"
        ],
        "summary": "Get addresses for location",
        "operationId": "getLocationAddresses",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Location ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/addressesResponse"
          }
        }
      }
    },
    "/locations": {
      "get": {
        "description": "Searches locations by lat/lng, typeahead, or bounding box",
        "tags": [
          "location"
        ],
        "summary": "Search locations",
        "operationId": "searchLocations",
        "parameters": [
          {
            "type": "number",
            "description": "Latitude for point lookup",
            "name": "lat",
            "in": "query"
          },
          {
            "type": "number",
            "description": "Longitude for point lookup",
            "name": "lng",
            "in": "query"
          },
          {
            "type": "number",
            "description": "Bounding box south-west latitude",
            "name": "swlat",
            "in": "query"
          },
          {
            "type": "number",
            "description": "Bounding box south-west longitude",
            "name": "swlng",
            "in": "query"
          },
          {
            "type": "number",
            "description": "Bounding box north-east latitude",
            "name": "nelat",
            "in": "query"
          },
          {
            "type": "number",
            "description": "Bounding box north-east longitude",
            "name": "nelng",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Partial name for typeahead matching",
            "name": "typeahead",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "Include locations flagged as dodgy",
            "name": "dodgy",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "Include areas as well as postcodes",
            "name": "areas",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Maximum results to return",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "Include nearby groups for each location",
            "name": "groupsnear",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "Postcodes only",
            "name": "pconly",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/locationsResponse"
          }
        }
      },
      "put": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Creates a new location",
        "tags": [
          "location"
        ],
        "summary": "Create a location",
        "operationId": "createLocation",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Marks a location as excluded",
        "tags": [
          "location"
        ],
        "summary": "Exclude a location",
        "operationId": "excludeLocation",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "patch": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Updates an existing location",
        "tags": [
          "location"
        ],
        "summary": "Update a location",
        "operationId": "updateLocation",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/locations/kml": {
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Converts KML data to a location polygon",
        "tags": [
          "location"
        ],
        "summary": "Convert KML to location",
        "operationId": "convertKML",
        "responses": {
          "200": {
            "$ref": "#/responses/genericResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/memberships": {
      "put": {
        "description": "Gives a TrashNothing member a Freegle account and, if they have no\nlocation yet, one from their TrashNothing area's centroid. Partner key\nauth only.",
        "tags": [
          "membership"
        ],
        "summary": "Join via TrashNothing partner",
        "operationId": "joinViaPartner",
        "parameters": [
          {
            "type": "string",
            "description": "Partner API key",
            "name": "partner",
            "in": "query",
            "required": true
          },
          {
            "type": "integer",
            "description": "Trash Nothing user ID",
            "name": "tnuserid",
            "in": "query"
          },
          {
            "type": "string",
            "description": "User email address",
            "name": "email",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Trash Nothing area ID, resolved against partner_areas",
            "name": "groupid",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "403": {
            "$ref": "#/responses/errorResponse"
          },
          "500": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/merge": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns pending merge requests for moderator review",
        "tags": [
          "merge"
        ],
        "summary": "Get merge requests",
        "operationId": "getMerge",
        "responses": {
          "200": {
            "$ref": "#/responses/genericResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "put": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Creates a new merge request to combine two users",
        "tags": [
          "merge"
        ],
        "summary": "Create merge request",
        "operationId": "createMerge",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Approves or rejects a merge request",
        "tags": [
          "merge"
        ],
        "summary": "Action merge request",
        "operationId": "postMerge",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "delete": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Deletes a merge request",
        "tags": [
          "merge"
        ],
        "summary": "Delete merge request",
        "operationId": "deleteMerge",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/message": {
      "put": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Creates a new message (offer or wanted)",
        "tags": [
          "message"
        ],
        "summary": "Create message",
        "operationId": "putMessage",
        "responses": {
          "200": {
            "$ref": "#/responses/genericResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Handles message actions: Promise, Renege, OutcomeIntended, Outcome, AddBy, RemoveBy, View,\nApprove, Reject, Delete, Spam, Hold, Release, ApproveEdits, RevertEdits, PartnerConsent,\nReply, JoinAndPost, Move, BackToPending, RejectToDraft, Report.\n\nWhen tnpostid is supplied instead of id, the action is applied to ALL Freegle messages\nsharing that TN post ID (a TN post can be submitted to multiple Freegle groups, each\nproducing a separate Freegle message row).",
        "tags": [
          "message"
        ],
        "summary": "Message actions",
        "operationId": "postMessage",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          },
          "404": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "patch": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Updates message fields. Supports partner authentication via query parameters\nas an alternative to JWT auth.",
        "tags": [
          "message"
        ],
        "summary": "Update message",
        "operationId": "patchMessage",
        "parameters": [
          {
            "type": "string",
            "description": "Partner API key (alternative to JWT auth)",
            "name": "partner",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Trash Nothing user ID (partner auth only)",
            "name": "tnuserid",
            "in": "query"
          },
          {
            "type": "string",
            "description": "User email (partner auth only, domain must match partner domain)",
            "name": "email",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          },
          "403": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/message/count": {
      "get": {
        "description": "Returns count of messages by type",
        "tags": [
          "message"
        ],
        "summary": "Get message count",
        "operationId": "getMessageCount",
        "responses": {
          "200": {
            "$ref": "#/responses/genericResponse"
          }
        }
      }
    },
    "/message/inbounds": {
      "get": {
        "description": "Returns messages within geographic bounds",
        "tags": [
          "message"
        ],
        "summary": "Get messages in bounds",
        "operationId": "getMessagesInBounds",
        "parameters": [
          {
            "type": "number",
            "description": "Southwest latitude",
            "name": "swlat",
            "in": "query",
            "required": true
          },
          {
            "type": "number",
            "description": "Southwest longitude",
            "name": "swlng",
            "in": "query",
            "required": true
          },
          {
            "type": "number",
            "description": "Northeast latitude",
            "name": "nelat",
            "in": "query",
            "required": true
          },
          {
            "type": "number",
            "description": "Northeast longitude",
            "name": "nelng",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "Maximum results to return",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/messagesResponse"
          }
        }
      }
    },
    "/message/matches": {
      "get": {
        "description": "Returns existing OFFERs near a location that semantically match the given\nfree-text query, for the \"people are offering these near you\" panel shown\nwhile someone composes a WANTED.",
        "tags": [
          "message"
        ],
        "summary": "Get offers matching a wanted being composed",
        "operationId": "getMessageMatches",
        "parameters": [
          {
            "type": "string",
            "description": "Item text of the wanted being posted",
            "name": "query",
            "in": "query",
            "required": true
          },
          {
            "type": "number",
            "description": "Poster's chosen latitude",
            "name": "lat",
            "in": "query",
            "required": true
          },
          {
            "type": "number",
            "description": "Poster's chosen longitude",
            "name": "lng",
            "in": "query",
            "required": true
          },
          {
            "type": "integer",
            "description": "Max results (default 6, max 12)",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          }
        }
      }
    },
    "/message/search/{term}": {
      "get": {
        "description": "Searches messages by term",
        "tags": [
          "message"
        ],
        "summary": "Search messages",
        "operationId": "searchMessages",
        "parameters": [
          {
            "type": "string",
            "description": "Search term",
            "name": "term",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Message type filter",
            "name": "messagetype",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Group IDs to filter by (comma separated)",
            "name": "groupids",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/messagesResponse"
          }
        }
      }
    },
    "/message/sitemap": {
      "get": {
        "description": "Returns id + lastmod for every currently-live Offer/Wanted post, for building sitemap.xml",
        "tags": [
          "message"
        ],
        "summary": "Live posts for the search-engine sitemap",
        "operationId": "getMessageSitemap",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          }
        }
      }
    },
    "/message/tn/{tnpostid}": {
      "patch": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Updates ALL Freegle messages sharing the given Trash Nothing post ID. A single TN post\ncan be submitted to multiple Freegle groups, each producing a separate Freegle message\nrow — this endpoint updates every one of them in a single call. Used by partner\nintegrations where the Freegle message ID is not yet known (e.g. post held for moderation).",
        "tags": [
          "message"
        ],
        "summary": "Update all messages by TN post ID",
        "operationId": "patchMessageByTN",
        "parameters": [
          {
            "type": "string",
            "description": "Trash Nothing post ID",
            "name": "tnpostid",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Partner API key (alternative to JWT auth)",
            "name": "partner",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Trash Nothing user ID (partner auth only)",
            "name": "tnuserid",
            "in": "query"
          },
          {
            "type": "string",
            "description": "User email (partner auth only, domain must match partner domain)",
            "name": "email",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          },
          "403": {
            "$ref": "#/responses/errorResponse"
          },
          "404": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/message/{ids}": {
      "get": {
        "description": "Returns messages by ID (comma separated)",
        "tags": [
          "message"
        ],
        "summary": "Get messages by ID",
        "operationId": "getMessages",
        "parameters": [
          {
            "type": "string",
            "description": "Message IDs (comma separated)",
            "name": "ids",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Partner API key allowing partner access",
            "name": "partner",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/messagesResponse"
          },
          "404": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/message/{id}": {
      "delete": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Deletes a message by ID",
        "tags": [
          "message"
        ],
        "summary": "Delete message",
        "operationId": "deleteMessage",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Message ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          },
          "404": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/message/{id}/matches": {
      "get": {
        "description": "Candidate set for the matched-posts email (batch job). Reach-filtered against\nthe post owner.",
        "tags": [
          "message"
        ],
        "summary": "Opposite-type posts matching a given post (matched-posts email)",
        "operationId": "getMessagePostMatches",
        "parameters": [
          {
            "type": "integer",
            "description": "Message ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "description": "Max results (default 10, max 30)",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          }
        }
      }
    },
    "/message/{id}/reach": {
      "get": {
        "description": "Returns the rippling reach polygon/area for a specific message.",
        "tags": [
          "message"
        ],
        "summary": "Get rippling reach for a message",
        "operationId": "getMessageReach",
        "parameters": [
          {
            "type": "integer",
            "description": "Message ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          }
        }
      }
    },
    "/message/{id}/searchmatches": {
      "get": {
        "description": "Candidate set for the matched-posts email: members whose saved search matches\nthis post, scored at the same MinMatchedPostScore threshold the matched-posts\nemail itself uses (both compare stored document embeddings, so the number\nmeans the same thing on both).",
        "tags": [
          "message"
        ],
        "summary": "Members whose saved search matches a given post",
        "operationId": "getMessageSearchMatches",
        "parameters": [
          {
            "type": "integer",
            "description": "Message ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "description": "Max results (default 10, max 100)",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          }
        }
      }
    },
    "/message/{id}/similar": {
      "get": {
        "description": "Returns open posts of the same type that are semantically similar to the\ngiven post, for a \"more like this nearby\" recommendation strip.",
        "tags": [
          "message"
        ],
        "summary": "Get posts similar to a given post",
        "operationId": "getMessageSimilar",
        "parameters": [
          {
            "type": "integer",
            "description": "Message ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "description": "Max results (default 8, max 20)",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          }
        }
      }
    },
    "/messages/clearcount": {
      "post": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Marks the member's whole browse feed as cleared, without needing the client\nto enumerate posts. Moves one watermark rather than writing a view row per\npost. Requires authentication.",
        "tags": [
          "messages"
        ],
        "summary": "Clear the browse unread count",
        "operationId": "clearBrowseCount",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/messages/markseen": {
      "post": {
        "description": "Marks a set of messages as seen for the current user.",
        "tags": [
          "message"
        ],
        "summary": "Mark messages as seen",
        "operationId": "markMessagesSeen",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          }
        }
      }
    },
    "/microvolunteering": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns a microvolunteering challenge for the authenticated user",
        "tags": [
          "microvolunteering"
        ],
        "summary": "Get microvolunteering challenge",
        "operationId": "getMicrovolunteeringChallenge",
        "responses": {
          "200": {
            "$ref": "#/responses/microvolunteeringResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Records the user's response to a micro-volunteering challenge",
        "tags": [
          "microvolunteering"
        ],
        "summary": "Submit micro-volunteering response",
        "operationId": "postMicrovolunteeringResponse",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "patch": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Allows a moderator to set feedback, score_positive, and score_negative on a microaction",
        "tags": [
          "microvolunteering"
        ],
        "summary": "Provide moderator feedback on microaction",
        "operationId": "patchMicrovolunteeringFeedback",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ModFeedbackRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          },
          "403": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/modtools/admin": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns admin records for groups moderated by the authenticated user",
        "tags": [
          "modtools"
        ],
        "summary": "List admins",
        "operationId": "listAdmins",
        "responses": {
          "200": {
            "$ref": "#/responses/adminsResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Creates a new admin record (mod email)",
        "tags": [
          "modtools"
        ],
        "summary": "Create admin record",
        "operationId": "postAdmin",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "delete": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Deletes an admin record",
        "tags": [
          "modtools"
        ],
        "summary": "Delete admin record",
        "operationId": "deleteAdmin",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "patch": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Updates an existing admin record",
        "tags": [
          "modtools"
        ],
        "summary": "Update admin record",
        "operationId": "patchAdmin",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/modtools/admin/{id}": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns a single admin record by ID",
        "tags": [
          "modtools"
        ],
        "summary": "Get admin by ID",
        "operationId": "getAdmin",
        "parameters": [
          {
            "type": "integer",
[...]
